/* Page */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  height: 100%;
  background: #607fb8;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  background: #1f4287;
  height: 4rem;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.navbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  padding-left: 2rem;
}

/* Sidebar */

.sidebar {
  height: 100%;
  background: #1f6687;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-105%);
  transition: transform 600ms ease-in-out;
}

.sidebar.open {
  transform: translateX(0%);
}

.sidebar_items ul {
  color: white;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
}

.sidebar_items li {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

/* Toggle button */

.tb_div {
  height: 100%;
  width: 80px;
}

.toggle_button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  justify-content: space-around;
  padding-top: 12px;
  padding-left: 24px;
  cursor: pointer;
  flex-direction: column;
  transition: background 200ms ease-in-out;
}

.toggle_button:hover {
  background: #183369;
  transition: background 200ms ease-in-out;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  margin-top: 7px;
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background-color: white;
}

/* Backdrop */

.backdrop {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Page body */

#page_body {
  padding-top: 64px;
}

.head {
  text-align: center;
}

/* !!! Modals !!! */

/* New Note Modal */

.add_note_modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 201;
  padding: 1rem;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .add_note_modal {
    width: 50rem;
    left: calc((100% - 50rem) / 2);
  }
}

.add_note_header {
  padding: 1rem;
}

.add_note_header h2 {
  margin: 0;
  font-size: 2rem;
}

.add_note_title {
  padding: 1rem;
}

.add_note_content {
  padding: 1rem;
}

.save_note {
  margin: 1rem;
}

/* !!! end of Modals !!! */