/* Page */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  height: 100%;
  background: #607fb8;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  background: #1f4287;
  height: 4rem;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

/* Sidebar */

.sidebar {
  height: 100%;
  background: #1f6687;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 100;
}

.sidebar_items ul {
  color: white;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
}

.sidebar_items li {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

/* Toggle button */

.toggle_button {
  display: flex;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  justify-content: space-around;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  flex-direction: column;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
}

/* Backdrop */

.backdrop {
  position: fixed;
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 400px;
  z-index: 100;
}

/* Page body */

#page_body {
  padding-top: 64px;
}